.back-to-home {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}

.back-to-home a {
  color: #268bd2;
  text-decoration: none;
}

.back-to-home a:hover {
  text-decoration: underline;
}